/* 
CSS NORMALIZE 
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans Unicode", sans-serif;
  color: #fff;
  height: 100hv;
  background-color: #3399cc;
  border: 25px solid #2b81ac;
  outline-style: solid;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

a,
button {
  cursor: pointer;
}

image {
  max-width: 100%;
  height: auto;
}

/* 
MAIN
*/

h3 {
  font-size: 21px;
  padding: 66px 4px 37px 135px;
}

img {
  width: 27px;
  height: auto;
}

.title {
  display: flex;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.items {
  font-size: 0;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 26px 0;
  border: 2px solid #fff;
  text-align: center;
  font-size: 22px;
  outline-style: solid;
}

.items div {
  padding-top: 10px;
  opacity: 0.7;
}

.items li:hover div {
  opacity: 1;
}

.items i {
  font-size: 42px;
  vertical-align: middle;
}

.lisbon {
  width: 50%;
  background-color: #70b8db;
}

.lisbon:hover {
  background-color: #3399cc;
}

.paris {
  width: 25%;
  background-color: #70dbdb;
}

.paris:hover {
  background-color: #33cccc;
}

.belgrade {
  width: 25%;
  background-color: #b894b8;
}

.belgrade:hover {
  background-color: #996699;
}

.venice {
  width: 25%;
  background-color: #c46767;
}

.venice:hover {
  background-color: #cc3333;
}

.tel-aviv {
  width: 25%;
  background-color: #eb9580;
}

.tel-aviv:hover {
  background-color: #e2674a;
}

.cair {
  width: 25%;
  background-color: #ffdb94;
}

.cair:hover {
  background-color: #ffcc66;
}

.new-york {
  width: 25%;
  background-color: #b8dbb8;
}

.new-york:hover {
  background-color: #99cc99;
}

.new-delhi {
  width: 25%;
  background-color: #94b8b8;
}

.new-delhi:hover {
  background-color: #669999;
}

.san-francisco {
  width: 50%;
  background-color: #db94b8;
}

.san-francisco:hover {
  background-color: #cc6699;
}

.tokyo {
  width: 25%;
  background-color: #70b894;
}

.tokyo:hover {
  background-color: #339966;
}

.sydney {
  width: 100%;
  background-color: #9494b8;
}

.sydney:hover {
  background-color: #666699;
}

p {
  margin-top: 35px;
}
